.events {
	width:100%;
	h1 {
		font-size: 5em;
		padding:0.3em 1.3em 0 1.3em;
	} 
	h6 {
		font-size:3em;
	}
	.btn {

	}
	padding-bottom:2em;
}
.event-list {
	display:block;
	&:before {
		content: "";
    background: $grey;
    height: 2px;
    width: 70%;
    margin-top: 3em;
    margin:3em auto 3em;
    display: inherit;
	}
	text-align:center;
	p {
		margin: 0;
		padding: 0em 3em;
		text-indent: 1em;
	}
	a {
	    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    color:$color6;
    font-size:2em;
    font-weight: bold;
	}
}