.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  .owl-nav {
    .owl-prev {
      position: absolute;
      bottom:0px;
      color:transparent;
      height: 100%;
      min-width: 50px;
        &:before{
          top:30%;

          height: 100%;
          min-width: 50px;
          @extend .icon-font;
          @extend .icon-back-ref;
        color:$grey-dark;
        position: absolute;
        font-size: 9em;
        }
      }
    .owl-next {

      position: absolute;
      bottom:0px;
      right:35px;
      color:transparent;
      height: 100%;
      min-width: 50px;
      &:before{
        top:30%;

        height: 100%;
        min-width: 50px;
      @extend .icon-font;
      @extend .icon-next-ref;
      color:$grey-dark;
      position: absolute;
      font-size: 9em;
      }
  }
}

}
#sponsors {
  .img-text {
    span {
    font-size: 2em;
    padding: 0em 0em 1em;
    }
    text-align: center;
    img {
      width:50%;
      display: inline-block;
    }
  }
}