.social-feeds {
width:100%;
 background:#fff;

.cff-wrapper {
    padding: 2em;
    max-height: 400px;
    overflow: scroll;
}


#cff .cff-item p {
    color: $color6;
    text-align: left;
}



  ul.nav {
			border:0px;
    	li { background:none; 
					border-radius:0px;
					font-size:3em;
			    margin: 0px;
			    padding: 0px;
					border:0px;
		    a {
		    	font-size:1.5em;
					border-radius:0px;
					color:#fff;
					background:#3b5998;
					border:0px;
					width:100%;
					&:hover {
								background:#fff;
								color:#3b5998;
							}
		    }
					&.twitter {
						a {
							background:#1da1f3;
							&:hover {
								background:#fff;
								color:#1da1f3;
							}
						}
					}
    	}
     }

  div.tab-content {
  	background:#fff;
  	max-height: 400px;
  	overflow: hidden;
  		#facebook {
  		._2p3a {
    		width: 100% !important
    	}
			iframe { width:100%;}
  		}
		#twitter {
			iframe { width:100%;}
		}
  	.tab-panel {
  		display:none;
  		&.active {
  			display:block;
  		}

  	}
  }


}