$colors: $color5,$color2,$color3,$color4,$color6,$color5;
#posts {
	display:flex;
	flex-flow:row wrap;
	.card {
		flex-grow: 4;
    flex: 1;
    flex-basis:25%;
    @for $i from 1 through 6 {
			    &:nth-of-type(#{$i}) {
			   	  background: nth($colors,$i);
				} 
			}
  }

  
}