.banner {
  a.brand {}
  #logowrapper {
    text-align:left;
    width:auto;
    img {
      height: 100%;
      width:auto;

    }
  }
  nav {
    text-align: left;
    .navbar-nav {
      width:100%;
      text-align: left;
    }

    li {
      a {
        &:hover {}
      }
      .dropdown-menu {
        li {}
        a:hover {}
      }
    }
  }
}

#loginPopup {}

#shopPopup {}
