 #logowrapper {
  text-align: left;
    height:100%;
    img {
      height: auto;
    width: 100%;
    padding: 4em 1em;
    }
}

.small-column-big-column,
.big-column-small-column {
  .molecule.image {
    img {
      height:auto;
      max-width:100%;
      width:100%;
    }
  }
}
.homepage-heading {
  .owl-item {
      .slide {
        img {
        }
        .card {
          h1 {
            font-size: 5vw;
          }
          font-size:0.9em;
        }
      } 
    }
    .owl-dots {
    }
}