.fc{
	table{
		tr{
			.fc-header-left{
				width: 100%;
				text-align: center;
				.fc-button-next{
					float:right;
				}
				.fc-button-prev{
					float:left;
				}
			}
			.fc-header-center{
				width: 100%;
			}
			.fc-header-right{
				width: 100%;
				text-align: center;
				span{
					width: calc(100%/3);
				}
			}
		}
	}
}