.events h1,
h1 { font-size:3.5em; padding:0.5em}
h2 { font-size:2em}
h3 { font-size:1.8em}
h4 { font-size:1.8em}
.one-column#shop-banner { background-position:60% 100%; }
 .one-column#shop-banner .card .btn {  margin-left:1em; }
.h1{ font-size: 5em; }
.banner {
  a.brand {
    display:none;
  }
  #logowrapper {
       text-align: left;
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    clear: both;
    width: 25%;
    padding: 2em;
    img {
    height: auto;
    width: 100%;

    }
  }
  #navbar {
  width:100%;
  clear:both;
  .grey-bg { background:transparent;}
    nav {
      li {
        width:100%;
        clear:both;
          text-align:right;

        a {
          width:100%;
          text-align:right;
          &:hover {}
        }
        .dropdown-menu {
          li {}
          a:hover {}
        }
      }
    }


  }
span.toggle-text:before {
    content: "MENU";
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}  
span.toggle-text {
    display: inline-block;
    width: 100%;
    text-align: center;
}

button.navbar-toggle {
        display: block;
    float: left;
    text-align: center;
    margin: 0;
    width: 45%;
    float: none;
    padding: 2.5em 0 2em 0em;
    border-top: 6.5em solid $color5;
    margin: 0 auto;

} 

.shop-links {
  list-style:none;
    position: absolute;
    top: 14vh;
    right: 0px;
    visibility: visible;
    width: 100%;
    margin: 0px;
    background: #fff;
    padding: 0px;
    text-align: center;
    .red-dark-bg {
      background-color:$red;
    }
}
div#logowrapper-mobile {
    width: 100%;
    text-align: center;
    background:$red-dark;
}

div#logowrapper-mobile img {
    width: 67%;
    padding: 1em;
    height:auto !important;
}


.shop-links li {
    float: right;
    width: 50%;
}

.shop-links li a {
        padding: 0em 0em;
    line-height: 1em;
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    font-size:2em;
    &.white-bg {
      padding: 0.5em 2em;
    }

    &.red-dark-bg {
      padding: 1.17em 1em;
    }

    i {
    overflow: hidden;
    display: inline-block;
    line-height: 1em;
    &:before {
        font-size: 2em;
      text-align: center;
      width: 100%;
      line-height: 1;
      display: inline-block;
        color: $red-dark;
      }
    }
  }
}

#loginPopup {}

#shopPopup {}

#club_logo {
  width:100%;
}


.gform_wrapper form .gform_body .gform_fields .gfield {
  width:100%;
}

.small-column-big-column {
  div {
    position:relative;
    .molecule.image {
      position:relative;
      img {
        width:100%;
        max-width:none;
        height:auto;
        position:relative;
      }
    }
  }
}
.big-column-small-column {
  div {
    position:relative;
    .molecule.image {
      position:relative;
      img {
        width:100%;
        max-width:none;
        height:auto;
        position:relative;
      }
    }
  }
} 

/*================================
=            Calendar            =
================================*/
.fc{
  font-size: 0.7em !important;
  .fc-event-inner{
    font-size: 1.9vw;
  }
}

#posts .card {
    flex-grow:4;
    flex:1;
    flex-basis: 100%;
}
.angled-card {
  .card {
  &:after {
    display:none;
  }
  &:before {
    display:none;
  }
  }
  .image {
    display:none;
  }
}

.homepage-heading {
  max-height:none;
  .owl-item {
      .slide {
        height:70vh;
        img {
          width:100%;
        }
        .card {
          height: 60%;
          position: absolute;
          right: 0;
          overflow: hidden;
          text-align: center;
          z-index: 9;
          font-size: 0.7em;
          width:100%;
        }
      } 
    }
    .owl-dots {
      width: 100%;
      display: none;
    }
}
.navbar-nav .open .dropdown-menu>li>a {
  line-height: 20px;
    padding: 2em;
}

.woocommerce ul.products .product.type-product {
  width: 100%;
}

.molecule.events {
  padding-bottom:5em;
}
  .event-list a {
    padding:1em;
  }

.page-heading .heading-gap-top {
  top:150px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  #logowrapper {
       text-align: left;
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    clear: both;
    width: 25%;
    padding: 2em;
    img {
    height: auto;
    width: 100%;

    }
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  #logowrapper {
       text-align: left;
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    clear: both;
    width: 25%;
    padding: 2em;
    img {
    height: auto;
    width: 100%;

    }
  }
}

