.banner {
  a.brand {}
  #logowrapper {
    text-align:left;
    width:auto;
    img {
      height: 100%;
      width: auto;
      padding: 4em 1em;

    }
  }
  nav {
    text-align: left;
    .navbar-nav {
      width:100%;
      text-align: left;
    }

    li {
      a {
        &:hover {}
      }
      .dropdown-menu {
        li {}
        a:hover {}
      }
    }
  }
}
.banner #navbar ul#menu-menu-1 {
    width: 93%;
    float: right;
}

#loginPopup {}

#shopPopup {}
.banner{
 #logowrapper {
  text-align: left;
    width: 181px;
    // height:67%;
    img {
      height: auto;
    width: 100%;
    padding: 4em 1em;
    }
}
#navbar {
  padding:0px;
  .navbar-nav {
    width:100%; 
  } 
}
.nav-secondary {
    margin: 0px;
    width: 83%;
    float:right;
}
}
.angled-card {
  .card {
  &:after {
    display:none;
  }
  &:before {
    display:none;
  }
  }
  .image {
    display:none;
  }
}

.media-block {
  display: block;
  flex-wrap: wrap;
  background:#fff;
  .col-md-3 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    flex: none;
    * {
      // display:block;
    }
  }
}

._2p3a {
  width:100% !important;
}
#posts .card {
    flex-grow:4;
    flex:1;
    flex-basis: 50%;
}

.homepage-heading {
  .owl-item {
      .slide {
        img {
        }
        .card {

          font-size:0.9em;
        }
      } 
    }
    .owl-dots {
    }
}