.angled-card {
		overflow: hidden;
		.image.molecule {
			margin:0px;
			padding:0px;
		}
		.card {
			&:before,&:after {
				content:'';
				top:0px;
				position:absolute;
				z-index: 99;
			}
			&:before {
				$width : 100px;
				$height : 450px;

				left:-+$width;
				@include scalene-triangle($width,$height, #fff, right); 
			}
			&:after {
				$width : 100px;
 			$height : 450px;
				@include scalene-triangle($width,$height, #fff, left);
				right:-+$width;

			}
			.wrapper {
			margin:0px;
			// padding:0px;
		}
	}
		
		&.padding-2-top {
			padding-top:0px;
			.card {
				@extend .padding-2-top;
			}

		}
		&.padding-2-bottom {
			padding-bottom:0px;
			.card {
				@extend .padding-2-bottom;
			}

		}
		&.padding-4-top {
			padding-top:0px;
			.card {
				@extend .padding-4-top;
			}

		}
		&.padding-4-bottom {
			padding-bottom:0px;
			.card {
				@extend .padding-4-bottom;
			}

		}
		&.padding-6-top {
			padding-top:0px;
			.card {
				@extend .padding-6-top;
			}

		}
		&.padding-6-bottom {
			padding-bottom:0px;
			.card {
				@extend .padding-6-bottom;
			}

		}
		
}