.media-block {
	display: flex;
  flex-wrap: wrap;
  background:#fff;
  [class*='col-'],
	.col-md-3 {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0px;
		padding-right: 0px;
		display: flex;
		flex: 1;
		* {
			// display:block;
		}
		.card {
			width:100%;
		}
	}
	._2p3a {
  width:100% !important;
}

}
._2p3a {
  width:100% !important;
}

