.one-column {




	&#shop-banner {
		min-height:595px;
		.card {
			background: transparent;
			hgroup {
				height:0px;
			}
			.btn {
				background:transparent;
				font-size:4em;
				color:$color6;
				font-weight:bold;
				margin-left: 8em;
				padding:0px;
				margin-top: 0px;
				float:left;
			}
		}
	}
}