.page-heading {
  overflow: hidden;
  .pattern-bg:before {
    display:none;
  }
  .wrapper {
    overflow: hidden;
  }
  .white-bg {
  text-align: center;
    h1 {
      margin-top: 0px;
      margin-bottom: 0.8em;
    }
    li {
      @extend .p1; 
      color:#000;
    }
    p {
      @extend .col-sm-8;
      @extend .col-sm-offset-2;
      float:none;
    }
  }
  .heading-gap {
   margin:300px 0em 150px 0em;
  } 
  .heading-gap-top {
   margin:300px 0em 0px 0em;
  }
  .button-list {
    clear:both;
  }
}
