.page-heading {
  overflow: hidden;
  .white-bg {
  text-align: center;
    h1 {
      margin-top: 0px;
      margin-bottom: 0.8em;
    }
    p {
      @extend .col-sm-8;
      @extend .col-sm-offset-2;
    }
  }
  .heading-gap {
   margin:300px 0em 150px 0em;
  }
}
