.section-col-12-slider {
  display:inline-block;
  width:100%;
  h1 {
		@extend .col-md-12;
    text-align: center;
		// @extend .col-md-3;
	}
      .molecule.img-text {
      max-width: 100%;
      overflow:hidden;
      padding:4em 10em 10em;
      }
}
