.small-column-big-column {
	display: flex;
  flex-flow: row wrap;
  .molecule.image {
  	position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: hidden;
    width: auto;
    min-width:100%;
    img {
    	position: absolute; 
	    top: 0px; 
	    left: 0px;
	    width: auto;
	    height: 100%;
	    max-width: none;
    }
  }
	.col-md-4 { padding:0px; margin:0px;}
	.col-md-8 { padding:0px; margin:0px;}
}
